<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title">Sipariş Oluştur</h4>
						<p class="card-category">Müşteri seçimi</p>
					</div>
					<div class="card-body">
						<mat-vertical-stepper [linear]="isLinear" #stepper (selectionChange)="stepChange($event)">
							<mat-step [stepControl]="customerSearch">
								<form [formGroup]="customerSearch" (keydown.enter)="false">
									<ng-template matStepLabel>Müşteri Seçimi</ng-template>
									<mat-form-field>
										<input id="search-input" numbersOnly matInput placeholder="TCKN" maxlength="11" formControlName="tckn" required (keyup.enter)="searchCustomer()" />
										<mat-icon matSuffix>search</mat-icon>
									</mat-form-field>
									<mat-card *ngIf="customer!=null" class="profile-card">
										<mat-card-header>
											<div mat-card-avatar class="profile-header-image"></div>
											<mat-card-title>{{customer.name}}</mat-card-title>
											<mat-card-subtitle>{{customer.id}}</mat-card-subtitle>
										</mat-card-header>
										<mat-card-content>
											<p>
												Aktif Müşteri
											</p>
										</mat-card-content>
									</mat-card>
									<div>
										<button id="next-step-1" *ngIf="customer!=null" class="btn btn-danger btn-round pull-right" matStepperNext>Sonraki Adım</button>
									</div>
								</form>
							</mat-step>
							<mat-step [stepControl]="productCatalog">
								<form [formGroup]="productCatalog">
									<ng-template matStepLabel>Ürün Seçimi</ng-template>
									<div class="pt-4 pb-4" fxLayout="row layout-wrap" fxLayoutAlign="space-between">
										<mat-card *ngFor="let offer of offers" class="product-card">
											<mat-card-header>
												<div mat-card-avatar class="product-header-image"></div>
												<mat-card-title>{{offer.name}}</mat-card-title>
												<mat-card-subtitle>Data</mat-card-subtitle>
											</mat-card-header>
											<mat-card-content>
												<mat-accordion>
													<mat-expansion-panel [expanded]="true">
														<mat-expansion-panel-header>
															<mat-panel-title>
																Özellikler
															</mat-panel-title>
															<mat-panel-description>
															</mat-panel-description>
														</mat-expansion-panel-header>
														<ng-container *ngFor="let char of offer.offerProperties">
															{{char.name}} : {{char.value}} <br>
														</ng-container>
													</mat-expansion-panel>
												</mat-accordion>
												<button id="offer-select" [ngClass]="{'btn-success': !offer.selected,'btn-danger':offer.selected}" class="btn btn-success btn-sm btn-round pull-right" (click)="selectOffer(offer)">{{offer.selected == true ? 'Seçimi İptal Et' : 'Seç'}}</button>
											</mat-card-content>
										</mat-card>
									</div>
									<button id="back-step-1" class="btn btn-danger btn-round pull-left" mat-button matStepperPrevious>Önceki Adım</button>
									<button id="next-step-2" class="btn btn-danger btn-round pull-right" mat-button matStepperNext>Sonraki Adım</button>
								</form>
							</mat-step>
							<mat-step>
								<ng-template matStepLabel>Gözden Geçir</ng-template>
								<div class="pt-4 pt-b">
									<mat-card *ngIf="customer!=null" class="profile-card">
										<mat-card-header>
											<div mat-card-avatar class="profile-header-image"></div>
											<mat-card-title>{{customer.name}}</mat-card-title>
											<mat-card-subtitle>{{customer.id}}</mat-card-subtitle>
										</mat-card-header>
										<mat-card-content>
											<p>
												Aktif Müşteri
											</p>
										</mat-card-content>
									</mat-card>
									<div class="pt-4 pb-4" fxLayout="row layout-wrap" fxLayoutAlign="start">
										<div *ngFor="let offer of offers">
											<mat-card *ngIf="offer.selected" class="product-card">
												<mat-card-header>
													<div mat-card-avatar class="product-header-image"></div>
													<mat-card-title>{{offer.name}}</mat-card-title>
													<mat-card-subtitle>Data</mat-card-subtitle>
												</mat-card-header>
												<mat-card-content>
													<mat-accordion>
														<mat-expansion-panel [expanded]="true">
															<mat-expansion-panel-header>
																<mat-panel-title>
																	Özellikler
																</mat-panel-title>
																<mat-panel-description>
																</mat-panel-description>
															</mat-expansion-panel-header>
															<ng-container *ngFor="let char of offer.offerProperties">
																{{char.name}} : {{char.value}} <br>
															</ng-container>
														</mat-expansion-panel>
													</mat-accordion>
													<button id="select-offer-1" class="btn btn-danger btn-sm btn-round" (click)="selectOffer(offer)">{{offer.selected == true ? 'Seçimi İptal Et' : 'Seç'}}</button>
												</mat-card-content>
											</mat-card>
										</div>
									</div>
									<div>
										<button id="back-step-2" class="btn btn-danger btn-round pull-left" mat-button matStepperPrevious>Önceki Adım</button>
										<button id="next-step-3" *ngIf="validOrder" class="btn btn-success btn-round pull-right" mat-button (click)="send()">Siparişi Başlat</button>
									</div>
								</div>
							</mat-step>
						</mat-vertical-stepper>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>