.profile-card {
  max-width: 400px;
}

.profile-header-image {
  background-image: url("assets/img/profile.png");
  background-size: cover;
}
.product-header-image {
  background-image: url("assets/img/telecom.png");
  background-size: cover;
}
.product-card {
  margin-bottom: 20px;
}
mat-card-title {
  color: rgb(32, 32, 32) !important;
}
